{% extends "base.html" %}
{% block titre %}Liste{% endblock %}
{% block contenu %}
    <a href="/items/ajouter">Ajouter un item</a>
    {% if messages is defined and messages|length > 0 %}
        <div class="alert alert-warning" role="alert">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Description</th>
            <th>Quantité</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>Description</td>
                <td>Quantité</td>
                <td>Action</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}